# ===== JAVA / Spring Boot =====
target/
*.class
*.jar
*.war
*.log
*.iml
*.iws
*.ipr
*.idea/
*.project
*.classpath
*.settings/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
.spring/

# ===== Python =====
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
venv/
.env

# ===== NodeJS / React / Tailwind =====
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# ===== OS/Editor/System Files =====
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.bak
*.tmp

# ===== Docker =====
*.log
docker-compose.override.yml
.env